<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:brewer="http://brewer.algaworks.com">

<head>
<title>Pesquisa de clientes</title>
</head>

<body>

</body>
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-10">
					<h1>Pesquisa de clientes</h1>
				</div>
				
				<div class="col-sm-2">
					<div class="aw-page-header-controls">
						<!-- Vai para a página de cadastro de clientes -->
						<a class="btn btn-default" th:href="@{/clientes/novo}">
							<i class="glyphicon glyphicon-plus-sign"></i>
							<span class="hidden-xs hidden-sm">Novo Cliente</span>
						</a>
					</div>
				</div>
			</div>	
		</div>
	</div>
	
	<div class="container-fluid">
				
		<form method="GET" th:object="${clienteFilter}">
			<div class="row">
								
				<div class="col-sm-6 form-group">
					<label for="nome" class="control-label">Nome</label>
					<input id="nome" type="text" class="form-control" th:field="*{nome}" autofocus="autofocus"/>
				</div>
				
				<div class="col-sm-6 form-group" >
					<label for="cpfOuCnpj" class="control-label">CPF/CNPJ</label>
					 <input	id="cpfOuCnpj" type="text" class="form-control" th:field="*{cpfOuCnpj}"/>
				</div>
				
			</div>	
										
			
			<button type="submit" class="btn btn-primary">Pesquisar</button>
				
		</form>
		
		
		<div class="table-responsive bw-tabela-simples">
			<table class="table table-hover">
				<thead>
					<tr>
						
						<th class="table-clientes-col-nome">
							<!-- th:block th:replace="fragments/Ordenacao :: order (${pagina}, 'nome', 'Nome')"></th:block-->
							<brewer:order page="${pagina}" field="nome" text="Nome"/>
						</th>
						
						<th class="table-clientes-col-tipoPessoa">
							<!-- th:block th:replace="fragments/Ordenacao :: order (${pagina}, 'tipoPessoa', 'Tipo Pessoa')"></th:block-->
							<brewer:order page="${pagina}" field="tipoPessoa" text="Tipo Pessoa"/>
						</th>
						
						<th class="table-clientes-col-cpf-cnpj">CPF/CNPJ</th>
						
						<th class="table-clientes-col-telefone">Telefone</th>
						
						<th class="table-clientes-col-cidade-estado">Cidade/Estado</th>
						
						<th class="table-clientes-col-acoes">Ações</th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="cliente : ${pagina.conteudo}">
						
						<td class="text-left" th:text="${cliente.nome}">Cliente A</td>
						
						<td class="text-left" th:text="${cliente.tipoPessoa.descricao}">Física</td>
						
						<td class="text-left" th:text="${cliente.cpfOuCnpj}">265.626.790-01</td>
						
						<td class="text-left" th:text="${cliente.telefone}">Telefone</td>
						
						<td class="text-left" th:text="${cliente.endereco.nomeCidadeSiglaEstado}">Cidade/Estado</td>
						
						<td class="text-center">
							<a class="btn btn-link btn-xs" title="Editar">
								<i class="glyphicon glyphicon-pencil"></i>
							</a>
							
							<a class="btn btn-link btn-xs" title="Excluir">
								<i class="glyphicon glyphicon-remove"></i>
							</a>
						</td>
						
						
					</tr>
									
					<tr th:if="${pagina.vazia}">
						<td colspan="7">Nenhuma clientes encontrado</td>
					</tr>

				</tbody>
				
			</table>		
		</div>
		<!-- Elementos de Paginação  -->
		<brewer:pagination page="${pagina}"/>
		<!-- Fim Paginação -->
		
	</div>				
					

</section>
</html>













